.blogs{
    margin: 100px;

}
.blogs h3{
    color: chocolate;
}
.blogs p{
  font-weight: 500;
}
.blog{
    border: 2px solid gainsboro;
    border-radius: 14px;
    padding: 10px;
    margin-top: 30px;
   
}